{include file="tpl/header"}
<!-- 头部 -->
<div class="header">
    <div class="title_left"><a class="back_btn" href="1#"></a></div>
    <div class="header_tit">食材</div>
    <div class="title_right"><a class="search_btn" href="3#"></a></div>
</div>
<!-- 头部导航 -->
<div class="topNav topNav-container" id="topNav">
    <div class="topNav_bar swiper-wrapper">
        <a href="#" class="swiper-slide active">首页</a>
        <a href="#" class="swiper-slide">爆款</a>
        <a href="#" class="swiper-slide">汤类</a>
        <a href="#" class="swiper-slide">粥羹</a>
        <a href="#" class="swiper-slide">茶饮</a>
        <a href="#" class="swiper-slide">电器</a>
        <a href="#" class="swiper-slide">食材</a>
        <a href="#" class="swiper-slide">用品</a>
    </div>
</div>
<!-- 排序 -->
<div class="sort_frame">
    <a href="" class="active">
        <div class="box">
            <span>综合</span>
            <div class="sort">
                <i class="down active" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>销量</span>
            <div class="sort">
                <i class="down" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>新品</span>
            <div class="sort">
                <i class="down" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>价格</span>
            <div class="sort">
                <i class="up active"></i>
                <i class="down"></i>
            </div>
        </div>
    </a>
</div>
<div class="main-container" style="padding-top: 3.06rem;padding-bottom: 1.28rem;">
    
    <!-- 商品列表 -->
    <div class="homePro_list">
        <ul>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product2.jpeg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product3.jpg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product3.jpg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product2.jpeg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product2.jpeg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product3.jpg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product3.jpg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="l">
                    <a href="">
                        <img src="__PUBLIC__/static/images/product2.jpeg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}