<!-- 底部 -->
<footer>
    <div class="foot-bar">
        <a href="{$webUrl}" class="active">
            <i class="cy-icon-home"></i>
            <div>首页</div>
        </a>
        <a href="{$webUrl}shop/v1/category">
            <i class="cy-icon-category"></i>
            <div>商品分类</div>
        </a>
        <a href="#">
            <i class="cy-icon-life"></i>
            <div>生活家</div>
        </a>
        <a href="{$webUrl}shop/v1/shopcar">
            <i class="cy-icon-buycar"></i>
            <div>购物车</div>
        </a>
        <a href="{$webUrl}shop/v1/user">
            <i class="cy-icon-me"></i>
            <div>我的</div>
        </a>
    </div>
</footer>