{include file="tpl/header"}
<div class="header">
    <div class="title_left"><a class="back_btn" href="javascript:;" onclick="toBack()"></a></div>
    <div class="header_tit"></div>
    <div class="scar_head_r"></div>
</div>
<div class="order_arc_frame">
    <!--状态提示-->
    <!-- <div class="user_info_frame">
        <div class="pic">
            <img src="//img.buydeem.cn/wechat/images/order/location_icon.png">
        </div>
        <div class="content">
            <div class="concat">黄先生<span>159*****557</span></div>
            <p>河北省唐山市开平区1号</p>
        </div>
    </div>
    <div class="shop_frame">
        <div class="frame">
            <a href="/goods-586.html">
                <div class="pic">
                    <img src="https://img.buydeem.cn//goods/201811/1542080487963887229.jpeg">
                </div>
            </a>
            <div class="info">
                <a href="/goods-586.html">
                <div class="title">阿胶糕 10g*20/盒</div>
            </a>
                <div class="price fs_12">¥168.00</div>
            </div>
            <div class="count">×1</div>
        </div>
        <div class="frame">
            <a href="/goods-586.html">
                <div class="pic">
                    <img src="https://img.buydeem.cn//goods/201811/1542080487963887229.jpeg">
                </div>
            </a>
            <div class="info">
                <a href="/goods-586.html">
                <div class="title">阿胶糕 10g*20/盒</div>
            </a>
                <div class="price fs_12">¥168.00</div>
            </div>
            <div class="count">×1</div>
        </div>
        <div class="frame">
            <a href="/goods-586.html">
                <div class="pic">
                    <img src="https://img.buydeem.cn//goods/201811/1542080487963887229.jpeg">
                </div>
            </a>
            <div class="info">
                <a href="/goods-586.html">
                <div class="title">阿胶糕 10g*20/盒</div>
            </a>
                <div class="price fs_12">¥168.00</div>
            </div>
            <div class="count">×1</div>
        </div>
    </div>
    <div class="pay_frame">
        <div class="frame">
            <div class="left">商品合计</div>
            <div class="right">¥545.70</div>
        </div>
        <div class="frame">
            <div class="left">运费</div>
            <div class="right">¥0.00</div>
        </div>
        <div class="frame">
            <div class="left">优惠</div>
            <div class="right">¥60.00</div>
        </div>
        <div class="frame">
            <div class="left">实付</div>
            <div class="right color">¥484.70</div>
        </div>
    </div>
    <div class="btn_frame">
        <div class="content">
        </div>
    </div>
    <div class="shop_id">
        <div class="content">
            <div class="left"><span>订单编号：</span><span id="code_order">2018120138838361</span></div>
            <div class="right"><button class="btn" data-clipboard-target="#code_211151" aria-label="复制成功！">复制</button></div>
        </div>
    </div>
    <div class="remarks_frame">
        <div class="content">
            <div class="left">下单时间：</div>
            <div class="right">2018-12-01 13:52:59</div>
        </div>
    </div>
    <div class="remarks_frame">
        <div class="content">
            <div class="left">付款方式：</div>
            <div class="right" style="color:#C90436;">-</div>
        </div>
    </div>
    <div class="remarks_frame">
        <div class="content">
            <div class="left">订单备注：</div>
            <div class="right" style="word-break: break-all; word-wrap:break-word;">-</div>
        </div>
    </div> -->
</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}