{include file="tpl/header"}
<div class="search_box">
    <a href="javascript:window.history.go(-1);" class="search_back"></a>
    <div id="save_form">
        <div class="content1">
            <input type="text" class="text" placeholder="搜索商品" name="keyword" />
            <a href="javascript:;" class="btn" onclick="searchWeb()"></a>
        </div>
    </div>
</div>
<!-- 排序 -->
<div class="sort_frame">
    <a href="" class="active">
        <div class="box">
            <span>综合</span>
            <div class="sort">
                <i class="down active" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>销量</span>
            <div class="sort">
                <i class="down" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>新品</span>
            <div class="sort">
                <i class="down" style="bottom:.7em;"></i>
            </div>
        </div>
    </a>
    <a href="">
        <div class="box">
            <span>价格</span>
            <div class="sort">
                <i class="up active"></i>
                <i class="down"></i>
            </div>
        </div>
    </a>
</div>
<div class="main-container" style="padding-top: 2.21rem;padding-bottom: 1.28rem;">
    <!-- 商品列表 -->
    <div class="homePro_list">
        <ul>
            <!-- <li>
                <div class="l">
                    <a href="">
                        <img src="http://itmato-yusm.img-cn-shenzhen.aliyuncs.com/dgcishan/101020181112092054275669.jpg">
                    </a>
                </div>
                <div class="r">
                    <a href="" class="t">
                        <h1>金桔柠檬桂花饮 50g/盒</h1>
                    </a>
                    <div class="b">
                        <div class="b_l"><span>¥14.90</span></div>
                        <div class="b_r">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</div>
<!-- 加入购物车成功 -->
<div class="suc_add_cart">加入购物车成功</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}