{include file="tpl/header"}
<!--
<div id = 'content'></div>-->
<!-- 头部 -->
<div class="header">
    <div class="header_left"><a href="shop/v1/search"></a></div>
    <div class="header_center"><!-- <a href=""></a> --><div>东莞茶叶</div></div>
    <div class="header_right"><a href="3#"></a></div>
</div>
<!-- 头部导航 -->
<div class="topNav topNav-container" id="topNav">
    <div class="topNav_bar swiper-wrapper">
        <a href="#" class="swiper-slide active">首页</a>
        <a href="#" class="swiper-slide">爆款</a>
        <a href="#" class="swiper-slide">汤类</a>
        <a href="#" class="swiper-slide">粥羹</a>
        <a href="#" class="swiper-slide">茶饮</a>
        <a href="#" class="swiper-slide">电器</a>
        <a href="#" class="swiper-slide">食材</a>
        <a href="#" class="swiper-slide">用品</a>
    </div>
</div>
<div class="main-container" style="padding-top: 2.05rem;padding-bottom: 1.28rem;">
    <!--banner图-->
    <div class="banner-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__PUBLIC__/static/images/banner1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__PUBLIC__/static/images/banner2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__PUBLIC__/static/images/banner3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__PUBLIC__/static/images/banner4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__PUBLIC__/static/images/banner5.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--中间导航-->
    <div class="midNav">
        <ul>
            <li>
                <a href="">
                    <img src="__PUBLIC__/static/images/dgcy_midnav1.png" alt="">
                    <div>优惠专区</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/static/images/dgcy_midnav2.png" alt="">
                    <div>热销头牌</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/static/images/dgcy_midnav3.png" alt="">
                    <div>新人立减</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/static/images/dgcy_midnav4.png" alt="">
                    <div>邀请有礼</div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/static/images/dgcy_midnav5.png" alt="">
                    <div>试用申请</div>
                </a>
            </li>
        </ul>
    </div>

    <!--限时抢购-->
    <div class="rush_buy">
        <div class="rushBuy_tit">
            <div class="sp1 float_left">限时抢购</div>
            <div class="sp2 float_left">下一场<i>16:00</i>开始</div>
        </div>
        <div class="restTime_buy">
            <div class="restTime_l float_left">
                <img src="__PUBLIC__/static/images/img3.png" alt="">
            </div>
            <div class="restTime_r float_right">
                <div class="restTtime_box">
                    <span class="point">04</span>
                    <i class="colon">:</i>
                    <span class="point">27</span>
                    <i class="colon">:</i>
                    <span class="point">04</span>
                </div>
                <div class="restTime_txt">
                    <p>每天定时开抢</p>
                    <p>超低价拼手速</p>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product_item">
                <img src="__PUBLIC__/static/images/product1.jpeg" alt="红豆薏米水 10袋/盒">
                <div class="txt">
                    <h2>¥44.6</h2>
                    <span>¥49.9</span>
                </div>
            </div>
            <div class="product_item">
                <img src="__PUBLIC__/static/images/product1.jpeg" alt="红豆薏米水 10袋/盒">
                <div class="txt">
                    <h2>¥44.6</h2>
                    <span>¥49.9</span>
                </div>
            </div>
            <div class="product_item">
                <img src="__PUBLIC__/static/images/product1.jpeg" alt="红豆薏米水 10袋/盒">
                <div class="txt">
                    <h2>¥44.6</h2>
                    <span>¥49.9</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 优惠专区 -->
    <div class="homePro_tit">秋润汤饮实惠囤 换季补水喝起来</div>
    <div class="homePro_list">
        <ul id = "prolist"></ul>
    </div>
    <!-- 加入购物车成功 -->
    <div class="suc_add_cart">加入购物车成功</div>
    <!-- <div class="express">
        友情链接：<a href="https://m.kuaidi100.com/" target="_blank">快递查询</a>
    </div> -->
</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}