{include file="tpl/header"}
<!--
<div id = 'content'></div>-->
<!-- 头部 -->
<div class="header">
    <div class="title_left"><a class="back_btn" href="javascript:;" onclick="toBack()"></a></div>
    <div class="header_tit">购物车</div>
    <div class="scar_head_r"><a href="javascript:;" class="cart_edit">编辑</a></div>
</div>
<div class="main-container" style="padding-top: 1.2rem;padding-bottom: 2.56rem;">
    <div class="cart_line1"></div>
    <div class="goods_list">
        <!-- 添加 select class 添加 selected 代表选中 -->
        <!-- <div id="1183218" class="goods_frame">
            <div class="select"><i></i></div>
            <div class="cart_pic">
                <img src="https://img.buydeem.cn//goods/201811/1541987171445274305.jpeg" alt="">
            </div>
            <div class="info">
                <div class="title">K159养生壶 全新炖煮壶 茱萸粉K159养生壶 全新炖煮壶 茱萸粉K159养生壶 全新炖煮壶 茱萸粉</div>
                <div class="price"><span>¥1298.00</span></div>
            </div>
            <div class="select_number">
                <div class="reduce"></div>
                    <div class="text">
                         <input type="number" min="1" maxlength="5" class="number" value="1">
                    </div>
                <div class="add"></div>
            </div>
        </div> -->
    </div>
    <!-- <div class="cart_footer_frame">
        <div class="content">
            <label class="select_frame" id="all_select">
                <div class="select"></div><span>全选</span>
            </label>
            <div class="paid_price">
                实付：<span>¥</span><span class="sum_price" id="sum_price">0</span><span>元</span>
            </div>
            <a href="javascript:;" class="btn">去结算</a>
        </div>
    </div> -->
</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}