{include file="tpl/header"}
<div class="header_div">
	<img src="__PUBLIC__/static/imgs/zuo1.png" alt="" class="header_img">
	<p>评分规则</p>
</div>
<div class="evaluate_rull">
	<div class="evaluate_img_div"><a href=""><img src="__PUBLIC__/static/imgs/evaluate2.jpg" alt=""></a></div>
	<div class="rull_div1">
		-论美食家点评的的正确姿势-
	</div>
	<div class="rull_div2">
		<img src="__PUBLIC__/static/imgs/rull1.png" alt="">
		<p>记录真实的感受</p>
		<span></span>
		<p>BUYDEEM</p>
	</div>
	<div class="rull_div3">
		<div>
			<p>码字码字码</p>
			<p>从拆包裹到烹煮</p>
		</div>
		<div>
			<p>从自己到家人的的品尝</p>
			<p>记录真实的感受，小北不嫌多</p>
		</div>
	</div>
	<div class="rull_div4">
		<img src="__PUBLIC__/static/imgs/rull8.jpg" alt="">
		<p>*带图 并且15字评价即可获得10积分及抽奖机会哦！</p>
	</div>
	<div class="rull_div2">
		<img src="__PUBLIC__/static/imgs/rull2.png" alt="">
		<p>附上高清大图</p>
		<span></span>
		<p>BUYDEEM</p>
	</div>
	<div class="rull6">
		<div>
			<img src="__PUBLIC__/static/imgs/rull6.jpg" alt="">
			<div>
				<p>厨艺那么好</p>
				<p>不拍美照太可惜了</p>
			</div>
		</div>
		<div>
			<div>产品多角度拍照图</div>
			<img src="__PUBLIC__/static/imgs/rull5.jpg" alt="">

		</div>
		<div><img src="__PUBLIC__/static/imgs/rull4.jpg" alt="">
			<div>
				<p>*精选优质好评将有机会入选优质好评，一旦入选</p>
				<div>即可额外奖励50积分</div>
			</div>
		</div>
	</div>
	<div class="rull_div2">
		<img src="__PUBLIC__/static/imgs/rull3.png" alt="">
		<p>多次入选精选好评</p>
		<p>BUYDEEM</p>
	</div>
	<div class="rull_div8">
		<div>
			<p>展现你的点评达人潜力</p>
			<p>更有机会入选首席试味达人团！</p>
		</div>
		<div><img src="__PUBLIC__/static/imgs/rull7.jpg" alt=""></div>
		<div>立即去评价</div>
	</div>
</div>
<div class="footer_div"></div>

{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}
