{include file="tpl/header"}
<div class="header">
    <div class="title_left"><a class="back_btn" href="javascript:;" onclick="toBack()"></a></div>
    <div class="header_tit">评价中心</div>
    <div class="scar_head_r"></div>
</div>
<div class="evaluate_content">
    <div class="evaluate_tab">
        <ul>
            <li class="current">
                <a href="javascript:;">
                    <span class="border">待评价</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="border">已评价</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="evaluate_list">
        <ul>
            <!-- 没评论 -->
            <!-- <div class="empty">
                <div class="no_frame">
                    <img src="__PUBLIC__/static/images/no_reviews_bac.png">
                    <p>呀，您还没有相关评价哟~</p>
                </div>
            </div> -->
            <!-- 没评论end -->
            <!-- <li>
                <div class="content_frame">
                    <a class="togoods_href" href="goods?mt_product_id=7">
                        <div class="pic">
                            <img src="http://itmato-yusm.img-cn-shenzhen.aliyuncs.com/dgcishan/101020181109091747141686.jpg">
                        </div>
                        <div class="info">
                            <div class="title">小米星耀黑&nbsp;星耀黑 256G</div>
                            <div class="price">¥0.01</div>
                        </div>
                    </a>
                    <div class="count">×1</div>
                    <a class="toEvaluate_btn" href="toevaluate">去评价</a>
                </div>
            </li> -->
        </ul>
    </div>  
</div>
{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}