{include file="tpl/header"}
<div class="sign_body">
    <div class="sign_header">
        <div class="sign_title"><img src="__PUBLIC__/static/imgs/zuo1.png" alt="">签到有礼</div>
        <div class="sign_alert">
            签到提醒


            <!--/*开通状态*/-->
            <div class="dashDiv">
                <span class="dashSpan"></span>
            </div>
        </div>
        <div class="nosign">
            <div class="sign_div">
                <div class="sign">点击签到</div>
            </div>
        </div>
        <!--<div class="signed">-->
        <!--<div class="canuse">-->
        <!--<p>可用积分</p>-->
        <!--<p>10</p>-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <div class="signdays">
        <div class="daystitle">
            <p>已联系签到<span class="signday">0</span>天</p>
            <p>连续签到7天领VIP签到专属优惠券</p>
        </div>
        <div class="day_list">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="integral_list">
            <span class="integral">+5</span>
            <span class="integral_li"></span>
            <span class="integral">+5</span>
            <span class="integral_li"></span>
            <span class="integral">+6</span>
            <span class="integral_li"></span>
            <span class="integral">+6</span>
            <span class="integral_li"></span>
            <span class="integral">+7</span>
            <span class="integral_li"></span>
            <span class="integral">+7</span>
            <span class="integral_li"></span>
            <span class="integral"><img src="__PUBLIC__/static/imgs/youhui.png" alt=""></span>
        </div>
    </div>
    <div class="action_div">
        <div>
            <img src="__PUBLIC__/static/imgs/redeem.png" alt="">
            <p>积分兑换</p>
        </div>
        <div>
            <img src="__PUBLIC__/static/imgs/buy.png" alt="">
            <p>限时购</p>
        </div>
        <div>
            <img src="__PUBLIC__/static/imgs/rmb.png" alt="">
            <p>邀请返现</p>
        </div>
    </div>
    <div class="article_list">
        <p>为你推荐</p>
        <div>
            <img src="__PUBLIC__/static/imgs/pro1.png" alt="">
            <p>K159养生壶 全新炖煮养生壶</p>
            <div>
                <span>¥1498.00</span>
                <span><img src="__PUBLIC__/static/imgs/addcard.png" alt=""></span>
            </div>
        </div>
        <div>
            <img src="__PUBLIC__/static/imgs/pro2.jpg" alt="">
            <p>野生黑枸杞 3g*20/盒</p>
            <div>
                <span>¥1498.00</span>
                <span><img src="__PUBLIC__/static/imgs/addcard.png" alt=""></span>
            </div>
        </div>
        <div>
            <img src="__PUBLIC__/static/imgs/pro3.jpg" alt="">
            <p>泡茶杯 350ml 安全材质</p>
            <div>
                <span>¥1498.00</span>
                <span><img src="__PUBLIC__/static/imgs/addcard.png" alt=""></span>
            </div>
        </div>
        <div>
            <img src="__PUBLIC__/static/imgs/pro4.jpg" alt="">
            <p>雪梨无花果 袋装/3份/297</p>
            <div>
                <span>¥1498.00</span>
                <span><img src="__PUBLIC__/static/imgs/addcard.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="more">
        加载更多>>
    </div>
</div>

<div class="signok">
    <div class="signok_body">
        <div class="close_div"></div>
        <div class="signok_pic"><img src="__PUBLIC__/static/imgs/sign1.png" alt=""></div>
        <p class="title1">成功签到，积分+<span>5</span></p>
        <p class="title2">你离获得到优惠券还差连续签到<span>5</span>天</p>
        <div class="know">
            我知道了
        </div>
    </div>
</div>
<div class="footer_div"></div>

{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}
