{include file="tpl/header"}
<div class="header_div">
	<img src="__PUBLIC__/static/imgs/zuo1.png" alt="" class="header_img">
	<p>权益介绍</p>
</div>
<div class="privilege_body">
	<div class="privilege_header">
		<div class="privilege_div">
			<p>签到奖励</p>
			<p>每日签到习惯好</p>
			<p>点击会员中心首页签到，每日可获得5积分的奖励，还可以查看商城活动信息哦！</p>
			<img src="__PUBLIC__/static/imgs/sign2.png" alt="">
		</div>
	</div>
	<div class="privilege_section">
		<div class="referral_header">
			<img src="__PUBLIC__/static/imgs/sign3.png" alt="">
			<p>特权介绍</p>
			<p>会员生日当月可获得生日礼包优惠券一份，更多福利筹备中。</p>
			<div>
				当前等级为白银会员，可享受以下专属权益
			</div>
		</div>
		<div class="privilege_list">
			<div><img src="__PUBLIC__/static/imgs/privilege1.png" alt="">
				<p>签到奖励</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege2.png" alt="">
				<p>生日礼包</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege3.png" alt="">
				<p>生日积分双倍</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege4.png" alt="">
				<p>节日福利</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege5.png" alt="">
				<p>升级好礼</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege6.png" alt="">
				<p>积分加速</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege7.png" alt="">
				<p>新品试用</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege8.png" alt="">
				<p>专属服务</p>
			</div>
			<div><img src="__PUBLIC__/static/imgs/privilege9.png" alt="">
				<p>包邮特权</p>
			</div>
		</div>
		<div class="referral_footer">
			<img src="__PUBLIC__/static/imgs/privilege10.png" alt="">
			<p>成长指说明</p>
			<p>成长值是小北家用户通过购物消费获得的，是每笔消费的累计金额(不包括运费)与等级系数相乘后的结果。成长值累计总额决定用户的会员等级。成长值达到相应等级可享受该等级对应的权益,成长值越高,获得的权益越丰厚。</p>
		</div>
	</div>
</div>

<div class="footer_div"></div>

{include file="tpl/footMenu"}
{include file="tpl/js"}
{include file="tpl/footer"}
